@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,400&family=Roboto&display=swap');

* {

  text-align: left;
  background-color: #231F20;
  font-family: 'Roboto', sans-serif;

  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png"), auto;

  --sf-orange: 255, 174, 117;
  --sf-blush: 253, 120, 140;
  --sf-blue: 50, 154, 217;
  --sf-lightblue: 60, 170, 217;

  --sf-nude: 229, 227, 210;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: rgba(var(--sf-blush), 1);
  
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(var(--sf-orange))
}

p {
  color: rgba(var(--sf-nude))
}

a {
  color:rgba(var(--sf-blue), 1)
  
}

a:hover{
  cursor: pointer;
  color:rgba(var(--sf-lightblue), 1)

}

.app {
  max-width: 800px;
  padding: 0 1rem;
  margin: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
