@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,900&family=Roboto&display=swap');

* {

  text-align: left;
  background-color: #231F20;
  font-family: 'Roboto', sans-serif;

  --sf-orange: 255, 174, 117;
  --sf-blush: 253, 120, 140;
  --sf-blue: 50, 154, 217;
  --sf-lightblue: 60, 170, 217;
  --sf-nude: 229, 227, 210;
}


h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: rgba(var(--sf-blush), 1);
}

h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  color: rgba(var(--sf-orange));
}

h4 {
    color: rgba(var(--sf-nude));
    font-style: italic;
}

p {
  color: rgba(var(--sf-nude));
}

a {
  color:rgba(var(--sf-blue), 1);
  cursor: pointer;
}

a:hover {
  cursor: pointer;
  color:rgba(var(--sf-lightblue), 1)
}

i { 
  color: rgba(var(--sf-nude));
  font-size: 3rem;
  padding: 1rem;
  text-align: left;
  transition: color 0.25s;
}

i:hover {
  color:rgba(var(--sf-blue), 1);
  cursor: pointer;
}


.app {
  max-width: 800px;
  padding: 0 1rem;
  margin: auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table {
  border: 1px solid rgba(229, 227, 210)

}